/** {
    display: inline-block;
    box-sizing: border-box;
}*/

.cabecalho {
    box-sizing: border-box;
    /*position: absolute;*/
    background-color: rgb(231, 231, 197);
    top: 0;
    left: 0;
    display: inline-block;
    
    width: 100%;
    height: 110px;
    border-bottom: rgb(206, 194, 194) solid 1px;
    
    
}

#conteudo {
    margin-top: 25px;
    display: inline-block;
}



.linkCabecalho {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    background-color: rgb(242, 243, 237);
    padding: 3px;
    margin-left: 25px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
    top: 30px;
    text-decoration: none;
    font-size: 20px;
    
}

.a {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(217, 219, 218);
    padding: 1px;
    margin-left: 25px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
    top: 30px
}


#logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    
}

.material-icons {
    display: inline-block;
    color: green;
    
    
}

body {
    display: block;
    background-color: rgb(243, 235, 225);   
}

header section {
    display: block;
}

.CARD {
    margin-top: 0px;
    margin-bottom: 100px;
    width: 100%;
    height: 320px;
    float: right;
}

.CARD img {
    float: left;
    border-radius: 15px;
    

}

.CARD-IN-LINE {
    display: inline;
}

.CARD-IN-LINE img {
    border-radius: 15px;
    

}

.areaDeTexto {
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    height: 200px;
    width: 800px;
    font-family:'Roboto Mono', monospace;
    text-align: center;
    float: left;
    font-size: 25px;
}

.direita {
    /*background-color: aqua;
    */float: right;
}

.Rodape {
    box-sizing: border-box;    
    background-color: rgb(214,202,202);
    height: 100px;
    width: 100%;
    text-align: center;
}

#HighMiddle  {
    margin-top: 0px;
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: rgb(214, 202, 202);
    margin-bottom: 0px;
}

header div {
    display: inline-block;
}




