.paginaIndex2 {
    display: grid;
    grid-template-areas: 
        "paginaIndex2__cabecalho"
        "paginaIndex2__HighMiddle"
        "paginaIndex2__conteudo"
        "paginaIndex2__rodape"
    ;
    grid-template-columns: auto;
    grid-template-rows: 110px 20px 100vh 10px;
    border: solid red;
}

/* --------------------Cabecalho------------------------------------*/
.paginaIndex2__cabecalho {
    grid-area: "paginaIndex2__cabecalho";
    background: #fdfdfd;
    display: inline-flex;

}

.paginaIndex2__cabecalho___linkCabecalho {
    margin-top: 2.5rem;
    margin-left: 4rem;
    background-color: rgb(206, 194, 194);
    height: 1.9rem;
    width: 10rem;
    border-radius: 10px;    
    text-align: center;
    vertical-align: text-bottom;
    font-weight: 1000;
    font-size: large;
}

.paginaIndex2__HighMiddle {
    grid-area: "paginaIndex2__HighMiddle";
    
}


/*----------------------------------- Conteudo------------------------------ */
.paginaIndex2__conteudo {
    grid-area:"paginaIndex2__conteudo" ;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-right: 1rem;
}

.paginaIndex2__conteudo___card:nth-child(1) {
    background:url(./imagens/DJI_0148.JPG) center / cover no-repeat;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    margin: 0.1rem;
}

.paginaIndex2__conteudo___card:nth-child(2) {
    background:url(./imagens/DJI_0027.JPG) center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    margin: 0.1rem;


}

.paginaIndex2__conteudo___card:nth-child(3) {
    background:url(./imagens/IMG_6398.JPEG) center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 2 / 3;
    margin: 0.1rem;
}

.paginaIndex2__conteudo___card:nth-child(4) {
    background:url(./imagens/DJI_0350.JPG) center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 3 / 4;
    margin: 0.1rem;
}



.paginaIndex2__rodape {
    grid-area: "paginaIndex2__rodape";
    
}