.cabecalho {
    box-sizing: border-box;
    position: absolute;
    background-color: rgb(231, 231, 197);
    top: 0;
    left: 0;
    display: inline-block;
    
    width: 100%;
    height: 110px;
    border-bottom: rgb(206, 194, 194) solid 1px;
    
    
}

#conteudo {
    margin-top: 110px;
}

header {
    display: inline-block;
}

.linkCabecalho {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    
    background-color: rgb(242, 243, 237);
    padding: 3px;
    margin-left: 25px;
    
    margin-top: 40px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
    top: 30px;
    text-decoration: none;
    
}

.a {
    font-family: 'Roboto Mono', monospace;
    
    background-color: rgb(217, 219, 218);
    padding: 1px;
    margin-left: 25px;
    
    margin-top: 40px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
    top: 30px
}


#logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 1px #000;
}

.material-icons {
    display: inline-block;
    color: green;
    
    
}

body {
    display:inline-block; 
    background-color: rgb(243, 235, 225);   
}


.CARD {
    margin-top: 150px;
    margin-bottom: 0px;
    width: 100%;
    height: 250px;
    float: left;
}

.CARD img {
    float: right;
    border-radius: 5px;
}
.areaDeTexto {
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    height: 200px;
    width: 500px;
    font-family:'Roboto Mono', monospace;
    text-align: left;
}

.direita {
    /*background-color: aqua;
    */float: right;
}

.rodape {
    margin-top: 150px;
    
}
