/** {
    display: inline-block;
    box-sizing: border-box;
}*/

.cabecalho {
    /*box-sizing: border-box;
    /*position: absolute;*/
    background-color: rgb(206, 194, 194);
    top: 0;
    left: 0;
    display: inline-block;
    border-radius: 10px;    
    width: 100%;
    height: 110px;
    border-bottom: rgb(206, 194, 194) solid 1px;
    grid-area: cabecalho;
    
}

#conteudo {
    margin-top: 25px;
    display: inline-block;
}



.linkCabecalho {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    background-color: rgb(238, 238, 234);
    padding: 3px;
    margin-left: 25px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
    top: 30px;
    text-decoration: none;
    font-size: 20px;
    
}

.a {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(217, 219, 218);
    padding: 1px;
    margin-left: 25px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
    top: 30px
}


#logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    
}

.material-icons {
    display: inline-block;
    color: green;
    
    
}

body {
    display: block;
    background-color: rgb(240, 238, 237);   
}

header section {
    display: block;
}

.CARD {
    margin-top: 0px;
    margin-bottom: 100px;
    width: 100%;
    height: 320px;
    float: right;
}

.CARD img {
    float: left;
    border-radius: 15px;
    

}

.CARD-IN-LINE {
    display: inline;
}

.CARD-IN-LINE img {
    border-radius: 15px;
    

}

.areaDeTexto {
    grid-area: areaDeTexto;    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    height: 200px;
    width: 800px;
    font-family:'Roboto Mono', monospace;
    text-align: center;
    float: left;
    font-size: 25px;
}

.direita {
    /*background-color: aqua;
    */float: right;
}

.Rodape {
    box-sizing: border-box;    
    background-color: rgb(214,202,202);
    height: 100px;
    width: 100%;
    text-align: center;
}


#HighMiddle  {
    margin-top: 0px;
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: rgb(214, 202, 202);
    margin-bottom: 0px;
}

header div {
    display: inline-block;
}

.container {
    display: grid;
    height: 300px;
    border-style:solid;
    border-width: 5px;
    border: red;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px;
    grid-template-areas: "cardFotoE  cardFotoD cardFotoE"
                         
                            
    ;

}

.item {
    border: black;
    border-style: solid;
    border-width: 5px;
}

.cardFotoE {
    grid-area: cardFotoE;
   
}

.cardFotoD {
    grid-area: cardFotoD;
    height: 100px;
    width: 100px;
}






