.cabecalho {
    box-sizing: border-box;
    position: absolute;
    background-color: rgb(179, 185, 183);
    top: 0;
    left: 0;
    display: inline-block;
    
    width: 100%;
    height: 110px;
    
    
}

.linkCabecalho {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background-color: rgb(217, 219, 218);
    padding: 5px;
    margin-left: 30px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 20px;
    vertical-align: top;
    top: 30px
}

#logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 1px #000;
}

.material-icons {
    display: inline-block;
    color: green;
    float:right;
    
}